* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a73de;
}

html,
body {
    margin: 0;
    min-height: 100%;
}

.footerlink:link {
    color: #ffff00;
}

.footerlink:hover {
    color: #b1b1ff;
}

header {
    float: left;
    width: 100%;
    padding: 0 0 0 0;
    background: #3e2e53;
}

.main-header {
    box-shadow: -5px 5px 9px #000000AA, 1px 3px 3px #000000AA;
}

.content {
    min-height: 100%;
    background-color: #fafafa;
    padding: 20px 0 20px 0;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: -5px 5px 9px #000000AA, 1px 3px 3px #000000AA;
}

.content-2 {
    min-height: 100%;
    background-color: #fafafa;
    padding: 0 0 20px 0;
    text-align: justify;
    text-justify: inter-word;
    box-shadow: -5px 5px 9px #000000AA, 1px 3px 3px #000000AA;
}

.CIM {
    position: relative;
    height: 11vw;
    font-family: "Times New Roman";
    font-variant: small-caps;
    width: 100%;
    /* background-image: url("/images/header_background_small.svg"); /* online */
    background-image: url(../images/header_background_small.svg);
    /* local testing */
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    text-align: center;
    color: #3e2e53;
    text-shadow: 2px 2px #afafaf;
    vertical-align: middle;
    line-height: 12vw;
    -webkit-align-items: stretch;
}

.CIM2 {
    text-align: center;
    line-height: 60px;
}

.CIMV {
    text-align: center;
    line-height: 60px;
}

.infobox {
    position: relative;
    font-family: "Times New Roman";
    margin: 0 auto;
    text-align: center;
}

.infobox-contact {
    position: relative;
    font-family: "Times New Roman";
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

#newsSection {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#newsBox {
    position: relative;
    padding: 10px 10px;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
}

#newsImage {
    display: block;
    float: left;
    margin-right: 0.5vw;
    margin: 5px 15px 0 5px;
    padding: 2.5px;
    border: 3px solid #0a73de;
}

#myImg:hover {
    opacity: 0.7;
}

#cubes {
    position: relative;
    margin: 5px auto;
    padding: 5px 13vw;
    height: 1.3vw;
}

[class*="newscube-"] {
    position: relative;
    cursor: pointer;
    float: left;
    height: 1vw;
    width: 1vw;
    border-radius: 50%;
    border: 1px solid #0a73de;
    box-shadow: 2px 2px #888888;
    margin-left: .7vw;
}

.adjustment {
    position: relative;
    margin: 2em auto;
}

.centerAlign {
    margin: 4vw 0;
}

.newsColMargin {
    margin: 0 0.5vw;
}

.horizontalDecor {
    height: 100%;
    width: 100%;
}

.outline {
    border: solid .5vw #555555;
    padding: 2.5vw 0 4.5vw 0;
    margin: .5vw 2.5vw;
    outline: .7vw solid #0a73de;
    outline-offset: - 0.1vw;
}

h3 {
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #3e2e53;
    font-size: 130%;
    text-align: center;
}

.h3-left {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #3e2e53;
    font-size: 120%;
    text-align: left;
}

.h5v2 {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

p {
    padding: 13px 0;
}

.textStyle01 {
    color: #3e2e53;
    text-shadow: 0 0 20px red;
}

.textStyle02 {
    color: #3e2e53;
    text-shadow: 0 0 20px green;
}

table {
    padding-top: 0.5vw;
}

th {
    text-align: center;
    border: solid green 1px;
    max-width: 1vw;
    height: 1.1vw;
}

td {
    padding-left: 2px;
    height: 2.7vw;
    border: solid blue 1px;
}

.italic {
    font-style: italic;
    text-align: center;
}

.signo {
    font-style: italic;
    font-size: 120%;
    text-align: right;
    padding-top: 7vw;
}

.stag {
    position: absolute;
}

[class*="kep-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.kep-1 {
    border: none;
    max-width: 20vw;
}

.kep-2 {
    border: 3px solid #0a73de;
    max-width: 70vw;
}

.kep-3 {
    max-width: 100%;
    height: auto;
}

.kep-hir {
    max-width: 50%;
}

#doklistImg {
    display: inline-block;
    float: right;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 10px 0 0 !important;
}

#doklistLink {
    color: #ffff00;
    border: 0 !important;
    padding: 0 !important;
    margin: 10px 10px 0 0;
    line-height: normal !important;
    font-family: Arial, Helvetica, sans-serif !important;
    word-spacing: normal !important;
    text-align: center !important;
    display: block !important;
    float: right;
}

#doklistLink:hover {
    color: #b1b1ff;
}

#badge {
    display: block;
    float: right;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    padding-left: 3.5vw;
    padding-bottom: 1vw;
    height: 170px;
    width: 126px;
}

.shading {
    box-shadow: 2px 3px 4px #888888;
}

.ordering {
    float: left;
    padding-left: 14.5vw;
}

.clear {
    clear: both;
}

video {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

iframe {
    height: 130px;
    display: block;
    width: 400px;
    margin: 0 auto;
}

#iframediv {
    position: relative;
    margin: 2vw auto;
    padding-left: 4em;
}

#fbLogo {
    position: relative;
    margin: 2vw 30.5vw;
}

#fbLogo img {
    position: relative;
    margin: 0 auto;
    height: 50px;
    width: 50px;
}

footer {
    float: left;
    width: 100%;
    padding: 10px 0 10px 0;
    background: #3e2e53;
    box-shadow: -5px 5px 9px #000000AA, 1px 3px 3px #000000AA;
    color: white;
}

.ulv2 {
    text-align: left;
    padding-left: 30%;
}

nav {
    font-size: 1.5vw;
}

nav ul li {
    float: left;
    list-style: none;
    /*padding-right: 2vw;*/
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    float: left;
    padding: 5px 18px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    display: block;
    outline: none;
    padding: 5px 18px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn {
    font-size: 100%;
    text-align: centre;
    color: #fff;
}

nav a:hover,
.dropdown:hover .dropbtn {
    color: black;
    background-color: #ffa59a;
}

.dropdown-content {
    max-width: 150px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #a5c49a;
}

.dropdown:hover .dropdown-content {
    display: block;
}